

<img src="images/f1.jpg" alt="F1"><br>

<div class="row marketing">
  <h4>{{"text" | translate}}</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
<map center="[40.866667, 34.566667]" zoom="1">
  <div ng-repeat="marker in circuit">
  <marker  position="[{{marker.latitude}}, {{marker.longitude}}]" title="{{marker.name}}" on-click="showInfoWindow(event, 'bar')">
    </marker>

     <info-window id="bar" width="550px" visible-on-marker="foo">
        <div ng-non-bindable="">
          
          <p id="firstHeading" class="firstHeading"><b>{{marker.name}}</b></p>

        </div>

      </info-window>
    </div>
  
</map>


