<div class="form-group">
  <label for="filt">Search season/s:</label>
  <input type="text" class="form-control" ng-model="seasonText" placeholder="Filt in list..." id="filt">
</div>
<table class="table table-striped table-bordered">
    <thead>
      <tr><th colspan="2">Formula One Championship All Seasons</th></tr>
      <tr><th> Season</th> <th>Summary</th>
    </thead>
    <tbody>
      <tr ng-repeat="season in seasons | filter:seasonText">
        <!--<td>{{$index + 1}}</td>-->
        <td>
           <a href="#/season/{{season.season}}">
                {{season.season}}</a>
        </td>
        <td><a href="{{season.url | allURLWithHTTP}}">
            Review
            </a>
        </td>
      </tr>
    </tbody>
  </table>